@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: CursedTimerUlil-Aznm;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100vh;
    background-color: #1B244A;
    text-align: center;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.cards {
    width: 100%;
    max-width: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    color: #EEEEEE;
    font-size: 40px;
}

.scores {
    background-color: #080001;
    font-family: CursedTimerUlil-Aznm, sans-serif;
    font-size: 90px;
    color: #F94F6D;
    line-height: 130px;
    border: 2px #080001 solid;
    border-radius: 5px;
    padding-top: 15px;
    margin-block: 15px 25px;
}

button {
    background: none;
    font-family: CursedTimerUlil-Aznm, sans-serif;
    color: #9AABD8;
    border: #9AABD8 solid 2px;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
}

.buttons {
    width: 155px;
    display: flex;
    justify-content: space-between;
}

.highlight { border-color: #F94F6D; }

@media (min-width:425px) {
    .cards {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
